<form class="form-inline my-2 my-lg-0 d-flex" action="<%= search_characters_path %>" method="get">
  <div>
    <input type="text" class="form-control" id="live_search" autocomplete="off" placeholder="Search">
  </div>
  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>